.container .wzcenter{
	text-align: center;
	margin-top: 30px;
}
.container .qualifiedrate{
	margin: 0 auto;
	width: 1026px;
	height: 380px;
	margin-top: 10px;
}
/*****************************************/
.container .diseaseo li {
	float: left;
}

.container .diseaseo select,.chooseTime select{
	width: 100px;
	height: 30px;
}

.container .diseaseo li:nth-child(1) {
	margin-left: 20px;
	line-height: 74px;
	margin-top: 0;
}
.container .diseaseo .ymonth {
	width: 158px;
	height: 24px;
	margin-top: 1px;
}

.container .diseaseo li .img {
	position: relative;
	display: inline-block;
	width: 17px;
	height: 16px;
	background: url(../../images/放大镜.png) no-repeat;
	left: 12px;
	top: 3px;
}
.container .diseaseo span {
	position: relative;
	left: 15px;
}

.container .diseaseo li:nth-child(3) {
	margin-left: 0;
	width: 135px;
	height: 24px;
	border: none;
	line-height: 26px;
	cursor: pointer;
}

.container .diseaseo li:nth-child(4) {
	width: 90px;
	height: 28px;
	border: 1px solid #d7d7d7;
	line-height: 26px;
	cursor: pointer;
	float: left;
}

.container .diseaseo li:nth-child(6) {
	width: 19px;
	height: 13px;
	background: url(../../images/打印.png) no-repeat;
	float: right;
	margin-top: 3px;
	cursor: pointer;
}

.container .diseaseo li:nth-child(5) {
	margin-left: 8px;
	float: right;
	cursor: pointer;
}

.container .diseaseo li:nth-child(8) {
	width: 19px;
	height: 13px;
	background: url(../../images/导出.png) no-repeat;
	float: right;
	margin-top: 3px;
	cursor: pointer;
}

.container .diseaseo li:nth-child(7) {
	margin-left: 8px;
	float: right;
	margin-right: 30px;
	cursor: pointer;
}


/**************************************************************/
.container .diseaset li {
	float: left;
}

.container .diseaset select {
	width: 100px;
	height: 30px;
}

.container .diseaset li:nth-child(1) {
	margin-left: 20px;
	line-height: 74px;
	margin-top: 0;
}

.container .diseaset li:nth-child(2) {
	margin-left: 34px;
	margin-top: 0;
}

.container .diseaset .ymonth {
	width: 158px;
	height: 26px;
	margin-top: 1px;
	border: 1px solid #d7d7d7;
}

.container .diseaset li .img {
	position: relative;
	display: inline-block;
	width: 17px;
	height: 16px;
	background: url(../../images/放大镜.png) no-repeat;
	left: 12px;
	top: 3px;
}

.container .diseaset li:nth-child(3) {
	margin-left: 5px;
	width: 90px;
	height: 28px;
	line-height: 26px;
	cursor: pointer;
}

.container .diseaset span {
	position: relative;
	left: 15px;
}

.container .diseaset li:nth-child(3) {
	margin-left: 8px;
	margin-right: 50px;
	cursor: pointer;
}

.container .diseaset li:nth-child(4) {
	width: 90px;
	height: 28px;
	border: 1px solid #d7d7d7;
	line-height: 26px;
	cursor: pointer;
	float: left;
}

.container .diseaset li:nth-child(6) {
	width: 19px;
	height: 13px;
	background: url(../../images/打印.png) no-repeat;
	float: right;
	margin-top: 25px;
	cursor: pointer;
}

.container .diseaset li:nth-child(5) {
	margin-left: 8px;
	float: right;
	margin-right: 50px;
	cursor: pointer;
}

.container .diseaset li:nth-child(8) {
	width: 19px;
	height: 13px;
	background: url(../../images/导出.png) no-repeat;
	float: right;
	margin-top: 25px;
	cursor: pointer;
}

.container .diseaset li:nth-child(7) {
	margin-left: 8px;
	float: right;
	margin-right: 30px;
	cursor: pointer;
}
.container .ymonth{
	border: none;
}
.container .year{
	width: 158px;
    height: 26px;
    margin-top: 1px;
    border: 1px solid #D7D7D7;
}
/*******************标题字体********************************/
.container .clinicInfoHead{
	height: 30px;
	font-size: 18px;
	line-height: 30px;
}
.container .namelisto{
	text-align: center;
	color: #666666;
	margin-top: 30px;
}
/***********图表的详细样式*************************************/
.container .qualifiedRate{
	width: 320px;
	height: 350px;
	float: left;
	margin-left: 20px;
}
/***********图标的左面和下面的文字提示************************/
.container .currency{
	width: 340px;
	height: 380px;
	float:left;
}
.container  .transverse{
	width:12px;
	height: 1px;
	position: relative;
	top: 120px;
	left: 10px;
}
.container .vertical{
	width: 300px;
	text-align: center;
	margin-top: 20px;
	margin-left: 30px;
}
/************大图表左边的提示文字*****************/

.container .qualifiedrates{
	width: 1000px;
	height: 380px;
}

.nowTimeChoose li{
	border: none;
}
.diseaseo.nowTimeList.show{
	width: 70%;
	margin-top: 14px;
	margin-left: 0;
}
.clinicInfoTab.nowTimeChoose{
	margin-top: 12px;
}
/************2016年11月9日******************************/
.diseasel.nowTimeList.show {
    width: 70%;
    margin-top: 14px;
    margin-left: 0;
}
.container .diseasel li {
	float: left;
}

.container .diseasel select,.chooseTime select{
	width: 100px;
	height: 30px;
}

.container .diseasel li:nth-child(1) {
	margin-left: 20px;
	line-height: 74px;
	margin-top: 0;
}
.container .diseasel .ymonth {
	width: 158px;
	height: 24px;
	margin-top: 1px;
}

.container .diseasel li .img {
	position: relative;
	display: inline-block;
	width: 17px;
	height: 16px;
	background: url(../../images/放大镜.png) no-repeat;
	left: 12px;
	top: 3px;
}
.container .diseasel span {
	position: relative;
	left: 15px;
}

.container .diseasel li:nth-child(3) {
	margin-left: 0;
	width: 100px;
	height: 24px;
	border: none;
	line-height: 26px;
	cursor: pointer;
}

.container .diseasel li:nth-child(5) {
	width: 90px;
	height: 28px;
	border: 1px solid #d7d7d7;
	line-height: 26px;
	cursor: pointer;
	float: left;
}

.container .diseasel li:nth-child(7) {
	width: 19px;
	height: 13px;
	background: url(../../images/打印.png) no-repeat;
	float: right;
	margin-top: 3px;
	cursor: pointer;
}

.container .diseasel li:nth-child(6) {
	margin-left: 8px;
	float: right;
	cursor: pointer;
}

.container .diseasel li:nth-child(9) {
	width: 19px;
	height: 13px;
	background: url(../../images/导出.png) no-repeat;
	float: right;
	margin-top: 3px;
	cursor: pointer;
}

.container .diseasel li:nth-child(8) {
	margin-left: 8px;
	float: right;
	margin-right: 30px;
	cursor: pointer;
}
.time{
	padding-left: 0;
}
.clinicInfoTab{
	padding-left: 0;
}
