
.s-fail {
    color: #fc2b2b;
}
.s-unknown {
    color: #fca743;
}
.service-nav {
	position: relative;
}
.subnav {
	overflow: hidden;
	padding: 20px 0;
}
.type-btns a, .operate-btns a, .clear-btn {
	display: inline-block;
	line-height: 24px;
	padding: 0 4px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
}
.clear-btn {
	width: 90px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	background-color: #2081c7;
	margin: 15px 20px;
	border: none;
}
.type-btns a.s-color, .operate-btns a:hover {
	background-color: #2081c7;
    border: 1px solid #2081c7;
    color: #fff;
}
/*.o-three-nav li.clear-server-search {
	float: left;
	padding-left: 80px;
}*/
.operate-btns {
	float: right;
}
.query-date-warp {
	padding-right: 50px;
}
.refund-server .area {
	padding-left: 50px;
}
.refund-server select {
	width: 200px;
	height: 28px;
}



/*弹框*/
.popup-inner .btn-warp {
	text-align: center;
	clear: both;
	padding: 30px 0;
	position: absolute;
	bottom: 10px;
	width: 100%;
}
.popup-inner .btn-warp a {
	display: inline-block;
	width: 90px;
	line-height: 30px;
	color: #fff;
	background-color: #f16528;
	border-radius: 2px;
	position: relative;
	left: -20px;
}
.popup-inner .title {
	line-height: 40px;
	border-bottom: 1px solid #2081c7;
}
.popup-inner .title span {
	display: inline-block;
	width: 150px;
}
.popup-inner .btn-warp a+a {
	margin-left: 60px;
}
.popup-inner  {
	padding: 10px 20px 20px;
}
.refund-detail-list {
	padding-top: 20px;
	line-height: 30px;
}
.refund-detail-list label {
	display: inline-block;
	width: 150px;
	font-weight: bold;
	padding-right: 30px;
	text-align: right;
}

.order-server-detail {
	margin: 40px auto 0;
}
.order-server-detail th, .order-server-detail td {
	vertical-align: top;
}
.order-server-detail tr+tr th, .order-server-detail tr+tr td {
	height: 200px;
	padding-top: 20px;
}
.order-server-detail .nth2-td {
	width: 200px;
}
.order-server-detail .choose-doctor {
	position: relative;
}
.server-doctor-list {
	position: absolute;
	top: 30px;
	left: -10px;
	width: 400px;
	height: 200px;
	overflow: scroll;
	padding: 0 0 0 10px;
	z-index: 123;
	background-color: #fff;
	border: 1px solid #ccc;
}
.server-doctor-list li {
	cursor: pointer;
}
.server-doctor-list img {
	width: 50px;
	height: auto;
}
.server-doctor-list img+span {
	display: inline-block;
	padding-right: 5px;
}
.order-server-detail .nth2-td input {
	width: 100%;
	height: 28px;
}
.order-server-detail .nth2-td .date {
	width: 100%;
	height: 28px;
}
.order-server-detail .nth2-td p {
	margin-top: 10px;
}
.order-server-detail .nth2-td .start-time {
	width: 48%;
	height: 28px;
}
.order-server-detail .nth2-td .end-time {
	width: 48%;
	height: 28px;
	float: right;
}
.order-server-detail a {
	display: inline-block;
	padding: 0 5px;
	line-height: 28px;
	border-radius: 2px;
	float: left;
	margin-left: 12px;
	background-color: #ccc;
	border: 1px solid #eee;
}
.order-server-detail a.disable {
	background-color: #ccc;
	border: 1px solid #eee;
}
.order-server-detail a.usable {
	color: #fff;
	background-color: #2081c7;
	border: 1px solid #2081c7;
}

.popup-inner {
	padding: 0 20px 60px 20px;
}

.o-content .o-table a {
	cursor: auto;
}
.o-content .o-table a.usable,
.o-content .o-table a[href] {
	color: #2081c7;
	cursor: pointer;
}
/*订单详情页面
--------------------------------------------------*/
.i-warning {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background: url(../../imgs/warning_0001.png);
}
body.wait-detail .a-detail {
	display: none;
}
body.already-detail .w-detail {
	display: none;
}
/*订单详情页面--预约
------------------------------*/
h1.detile {
	font-size: 18px;
	font-weight: bold;
	padding: 50px 0;
	text-align: center;
}
.detail-wrap {
	width: 96%;
	margin: 0 auto;
	overflow: hidden;
	background-color: #fafafa;
	font-size: 16px;
}
.detail-wrap .highlight {
	color: #f16528;
}
.detail-wrap ul {
	overflow: hidden;
}
.detail-title,
.detail-content {
	padding: 0 20px;
}
.detail-content {
	line-height: 36px;
	padding-bottom: 40px;
}
.detail-content h2 {
	font-size: 16px;
	font-weight: bold;
	padding-top: 20px;
}
.detail-content li {
	width: 33.3%;
	float: left;
	color: #333;
}
.detail-content li.clear-before {
	display: block;
	width: 100%;
	clear: both;
	height: 20px;
	/*outline: 1px solid red;*/
}
.detail-wrap label {
	display: inline-block;
	min-width: 100px;
	color: #999;
}
.detail-title {
	line-height: 40px;
	background-color: #f2f2f2;
}
.detail-title li {
	width: 33.3%;
	float: left;
}
.detail-title li:nth-child(2) {
	text-align: center;
}
.detail-title li:nth-child(3) {
	text-align: right;
}
.detail-title li:nth-child(3) a {
	display: inline-block;
	line-height: 26px;
	padding: 0 8px;
	color: #2180c7;
	border: 1px solid #ccc;
	border-radius: 2px;
}
.detail-title li:nth-child(3) a:hover {
	color: #fff;
	border: 1px solid #2180c7;
	background-color: #2180c7;
}
.detail-title li:nth-child(3) a+a {
	margin-left: 30px;
}
.btns-wrap {
	text-align: center;
	margin-top: 30px;
}
.btns-wrap a {
	display: inline-block;
	width: 90px;
	text-align: center;
	color: #fff;
	line-height: 30px;
	background-color: #2081c7;
	border-radius: 2px;
}
.btns-wrap a+a {
	margin-left: 80px;
}
.btns-wrap a.disabled {
	color: #ccc;
	background-color: #fff;
	border: 1px solid #ccc;
}

/*订单详情页面--异常订单
------------------------------*/
h1 {
	position: relative;
}
h1 em {
	position: absolute;
	bottom: 5px;
	display: inline-block;
	padding: 3px 10px;
	border: 1px solid #f16528;
	margin-left: -200px;
	font-size: 14px;
	font-weight: normal;
}
h1 em img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

/*订单详情页面--预约--变更预约时间弹窗
------------------------------*/
.edit-info span:first-child {
	color: #f16528;
}
.online-order-popup #visit input[type="text"] {
	width: 200px;
}
.online-order-popup {
	padding: 0 30px;
	box-sizing: 30px;
}
.order-time h1 {
	font-size: 16px;
	padding: 12px 0 5px;
	line-height: 33px;
}
.order-time h1 span {
	display: none;
}
.order-time h1 label {
	display: inline-block;
	font-size: 14px;
	border: 1px solid #fdd7a8;
	background-color: #fef3e5;    
	line-height: 28px !important;
    margin-left: 23px;
	padding-left: 10px;
}
.time-data-wrap {
	width: 660px;
	height: 348px;
	border: 1px solid #ccc;
	padding: 10px;
	overflow-y: auto;
	box-sizing: border-box;
}
.time-data {
	width: 100%;
}
.time-data caption {
	line-height: 30px;
	text-align: left;
}
.time-data tr>* {
	width: 25%;
	height: 30px;
	vertical-align: middle;
	text-align: center;
	border: 1px solid #ccc;
}
.time-data thead th {
	color: #333;
	
}
.time-data tbody th {
	color: #666;
}
.time-data tr.usable:hover {
	color: #333;
	background-color: #f5fbfc;
}
.time-data tr.usable:hover th[rowspan] {
	color: #666;
	background-color: #fff;
}
.time-data .i-radio {
	width: 17px;
	height: 17px;
	border-radius: 9px;
}
.time-data tr.usable td {
	color: #666;
}
.time-data tr.usable .i-radio {
	border: 1px solid #38b64f;
	background: #fff url(../../imgs/checks.png) no-repeat 4px 5px;
}
.time-data tr.active td {
	color: #333;
}
.time-data tr.active .i-radio {
	border: 1px solid #38b64f;
	background: #38b64f url(../../imgs/checks.png) no-repeat 4px -10px;
}


/*订单详情页面--预约--变更医生弹窗
------------------------------*/
.w-change-doc {
	padding: 10px;
	
}
.change-doc  {
	height: 376px;
	overflow-y: auto;
	border: 1px solid #f2f2f2;
}
.doc-data {
	width: 100%;
}
.doc-data tr:nth-child(2),
.doc-data tr:nth-child(4),
.doc-data tr:nth-child(6),
.doc-data tr:nth-child(8) {
	background-color: #fafafa;
}
.doc-data tr.active {
	color: #2081c7;
	background-color: #edf6fc;
}
.doc-data th,
.doc-data td {
	text-align: center;
}
.doc-data th {
	background-color: #e6e6e6;
	line-height: 40px;
}
.doc-data td {
	line-height: 55px;
	height: 55px;
	border-top: 1px solid #f2f2f2;
	/*background-color: #fafafa;*/
}
#doc-paging {
	float: left;
	padding: 25px 20px;
}
/*订单详情页面--退款审核弹窗
------------------------------*/
.popup-content-min {
	height: 165px;
	box-sizing: border-box;
}
.popup-content-min p {
	font-size: 18px;
	color: #333;
	line-height: 165px;
	text-align: center;
}
.w-rejects-reason .popup-content-min {
	padding: 60px 0 0 68px;
}
#rejects-reason-form label {
	display: block;
	float: left;
	height: 102px;
}
#rejects-reason-form textarea {
	width: 282px;
	height: 102px;
	box-sizing: border-box;
	border: 1px solid #ccc;
}

/* 取消原因 */
.cancel-order-inner label {
	float: left;
	line-height: 22px;
}
.datalist {
	float: left;
	width: 200px;
	position: relative;
}
.errortips {
	display: block;
	height: 20px;
    clear: both;
    padding-left: 70px;
    color: #ff6d2d;
}
.errortips label {
	float: none;
}
.datalist input {
	width: 100%;
	height: 22px;
	box-sizing: border-box;
}
.datalist ul {
	display: none;
	box-sizing: border-box;
	width: 100%;
	position: absolute;
	background-color: #fff;
	border: 1px solid #eee;
}
.datalist ul li {
	padding-left: 5px;
}
.datalist ul li:hover {
	color: #fff;
	background-color: #4898d5;
}
.cancel-order-inner>p {
	clear: both;
	font-size: 12px;
}